*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url("images.jpeg");
    background-size: cover;
}

.container{
  
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.child-container{
    border: 2px solid white;
    padding: 2rem;
    border-radius: 5%;
    background-color: white;
    height: 20rem;
    width: 20rem;
    animation: fadeZoom 0.6s ease-out;
}

.signup-form{
    margin: 1rem;
    color: black;
    font-weight: 520;
    font-size: large;
}
#submit-input{
    margin-top: 2em;
    width: 15rem;
    height: 2rem;
    background-color: rgb(135, 222, 121);
    border-radius: 5%;
}
#log-in{
 
    border: 2px solid white;
    padding: 2rem;
    border-radius: 5%;
    background-color: white;
    height: .7rem;
    width: 20rem;
    margin-top: 10px;
    animation: fadeZoom 0.6s ease-out;
}

#submit-button:hover{
    background-color: rgb(48, 179, 31);
}
@keyframes fadeZoom {
    0% {
        opacity: 0;
        transform: scale(.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#togglePassword{

    position: relative;
    left: -50px;
    cursor: pointer;
}
